.tabbar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.tabbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 3.2vw;
  height: 13.0667vw;
  border-top: 0.2667vw solid #eeeeee;
}

.tabbar-item .iconfont {
  font-size: 5.3333vw;
}

.tabbar-item {
  color: #333;
  font-weight: bold;
} 

.tabbar-item .tabbarname {
  margin-top: 1.3333vw;
}


.tabbar-item.active span {
  color: #426E52;
}